{% extends "base.html" %}
{% block title %}About Concussions{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center"> <!-- Added the "text-center" class here -->
      <h1 class="text-white mb-1" style="font-family: Roboto;"><b><b>About Concussions</b></b></h1>
      <div> <!-- Removed the "text-center" class here as it's unnecessary -->
        <h11 class="text-white mb-2" style="font-family: Roboto;"><b>By: Syan Jain</b></h11>
      </div>

      <!-- Your written information about concussions goes here -->
      <p class="text-white mt-3" style="margin-bottom: 1rem; font-family: Roboto; font-size: 18px; line-height: 2;">
        <br>
        A <strong style="color: #4285F4;">concussion</strong> is a <strong>mild traumatic brain injury</strong> that results from a bump, violent jolt, or blow to your head. 
        The injury disrupts normal brain function. You can also get a concussion after a <strong>strong body hit</strong> causes you to 
        jerk your head forward, backward, or to the side. Never diagnose yourself with a concussion. One commonly held 
        myth is that a concussion happens only if you <strong>lose consciousness</strong>. In fact, most people who have a concussion 
        never lose consciousness. It’s also possible that you, your child, or another loved one may have had a concussion 
        and not even know it. That’s why it’s important to get checked even if you think the knock to your head isn’t serious. 
      </p>
      <br>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <strong class="text-white my-4" style="font-family: Roboto; font-size: 23px; color: #4285F4 !important;">Common symptoms of concussion include:</strong>
            <ul class="list-unstyled text-white text-center" style="font-size: 17px; font-family: Roboto;">
              <li style="margin-bottom: 10px;">• Headaches</li>
              <li style="margin-bottom: 10px;">• Nauseasness or vomiting</li>
              <li style="margin-bottom: 10px;">• Confusion</li>
              <li style="margin-bottom: 10px;">• Temporary loss of consciousness</li>
              <li style="margin-bottom: 10px;">• Balance problems, dizziness, or lightheadedness</li>
              <li style="margin-bottom: 10px;">• Double vision or blurry vision</li>
              <li style="margin-bottom: 10px;">• Ringing in the ears</li>
              <li style="margin-bottom: 10px;">• Sensitivity to light or noise</li>
              <li style="margin-bottom: 10px;">• Feeling tired or drowsy</li>
              <li style="margin-bottom: 10px;">• Changes in sleep patterns, like sleeping much more or less than usual or can’t sleep</li>
              <li style="margin-bottom: 10px;">• Trouble understanding and/or concentrating.</li>
              <li style="margin-bottom: 10px;">• Depression or sadness</li>
              <li style="margin-bottom: 10px;">• Being irritable, nervous, and anxious</li>
              <li style="margin-bottom: 10px;">• Difficulty paying attention, forgetfulness, or memory loss</li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <p class="text-white mt-3" style="font-family: Roboto; font-size: 18px; line-height: 2;">
        Concussion symptoms can affect people in a variety of ways, including vision, balance, and even mood. Historically, 
        the standard treatment for <strong style="color: #4285F4;">concussion</strong> was to get plenty of rest. However, newer approaches involve therapy to target 
        specific symptoms. Clinics exist that help determine the most affected system and appropriate therapy for a given symptomatology. 
        In addition, a thorough medical examination may be needed before returning to sports or activities with the potential for contact 
        or further head injury. <strong>Second impact syndrome</strong> results from acute and often fatal brain swelling that occurs when a 
        second concussion is sustained before complete recovery from a previous concussion. The impact is thought to cause vascular 
        congestion and increased intracranial pressure, which can occur very rapidly and may be difficult or impossible to control. 
        The risk of second-impact syndrome is higher in sports like boxing, football, ice or roller hockey, soccer, baseball, 
        basketball, and skiing. The CDC reports an average of 1.5 deaths per year from sports concussions. In most cases, a 
        concussion, usually undiagnosed, had occurred prior to the final one.
      </p>
    </div>
  </div>
</div>
{% endblock %}
