{% extends "base.html" %} {% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5" style="background: #363737; font-family: Roboto; color: #fff; text-align: center;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4" style="font-family: Roboto;"><b>Contact Us</b></h1>
            <p style="font-size: 18px;">
                Stay connected with us to get the latest updates and news. Follow us on our social media channels to be a part of our community!
            </p>
            <div class="mt-5">
                <h4 style="margin-bottom: 10px;">Follow us on Social Media</h4>
                <p>
                    <a href="https://www.tiktok.com/@smrtathlete" target="_blank" style="color: #4285F4; text-decoration: none; margin-right: 10px;">
                        Tik Tok
                    </a>
                    <a href="https://www.instagram.com/smrtathletes/" target="_blank" style="color: #4285F4; text-decoration: none; margin-right: 10px;">
                        Instagram
                    </a>
                    <a href="https://twitter.com/SmrtAthlete" target="_blank" style="color: #4285F4; text-decoration: none; margin-right: 10px;">
                        Twitter
                    </a>
                </p>
            </div>
            <div class="mt-5">
                <h4 style="margin-bottom: 10px;">Contact Us Directly</h4>
                <p>
                    <a href="mailto:smartathletes123@gmail.com" style="color: #ff4d4d; text-decoration: none;">
                        Email
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
