{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-5" style="background: #363737;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4 text-white" style="font-family: Roboto;"><b>Our Mission</b></h1>
      <h5 class="text-center mt-4 text-white" style="font-family: Roboto;">
        <span class="text-danger" style="font-size: 1.2rem;"><b>Our mission is simple. </b></span>
        <span>To empower athletes with knowledge about sports medicine and injury prevention 
          through an innovative and user-friendly website, promoting <span class="text-danger">sports safety</span> 
        and early detection of <span class="text-danger">health risks.</span></span>
      </h5>
    </div>
  </div>
</div>
{% endblock %}
